<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">



<!-- XML utilizado nas classes de teste unitário. Não incluir no WEB.XML-->


    <!-- Servlet Layer -->
    <bean class="org.springframework.web.servlet.mvc.support.ControllerClassNameHandlerMapping"/>

    <!-- ========================= DEFINIÇÕES DE MAPEAMENTO ========================= -->

    <bean id="urlMapping" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="mappings">
            <props>
                <prop key="login.htm">loginController</prop>
                <prop key="logoff.htm">logoffController</prop>

                <!-- Mapeamento Coordenador -->
                <prop key="listar.htm">listaObjetosController</prop>
                <prop key="cadastroAluno.htm">cadastroAlunoController</prop>
                <prop key="cadastroProposta.htm">cadastroPropostaController</prop>
                <prop key="salvarProposta.htm">salvarPropostaController</prop>
                <prop key="editarProposta.htm">editarPropostaController</prop>

                <!-- Mapeamento Aluno -->
                <prop key="missaoProduto.htm">missaoProdutoController</prop>
                <prop key="justificativa.htm">justificativaController</prop>
                <prop key="metodologia.htm">metodologiaController</prop>
                <prop key="submeterProposta.htm">submeterPropostaController</prop>

                <!-- Mapeamento Professor-->
            </props>
        </property>
    </bean>

    <!-- ========================= DEFINIÇÕES DE CONTROLLERS ========================= -->


    <bean name="loginController"
        class="br.com.gerpro.controller.LoginController">
        <property name="usuarioService" ref="usuarioService"/>
        <property name="applicationSecurityManager" ref="applicationSecurityManager"/>
        <property name="methodNameResolver">
            <bean class="org.springframework.web.servlet.mvc.multiaction.ParameterMethodNameResolver">
                <property name="paramName" value="method"/>
                <property name="defaultMethodName" value="display"/>
            </bean>
        </property>
    </bean>

    <bean name="logoffController"
        class="br.com.gerpro.controller.LogoffController">
        <property name="applicationSecurityManager" ref="applicationSecurityManager"/>
        <property name="methodNameResolver">
            <bean class="org.springframework.web.servlet.mvc.multiaction.ParameterMethodNameResolver">
                <property name="paramName" value="method"/>
                <property name="defaultMethodName" value="display"/>
            </bean>
        </property>
    </bean>

    <bean name="cadastroAlunoController" class="br.com.gerpro.controller.CadastroAlunoController">
        <property name="usuarioService" ref="usuarioService"/>
        <property name="formView">
            <value>cadastroAluno</value>
        </property>
    </bean>

    <bean name="selecaoAlunoController" class="br.com.gerpro.controller.SelecaoAlunoController">
        <property name="usuarioService" ref="usuarioService"/>
    </bean>

    <bean name="listaObjetosController"
        class="br.com.gerpro.controller.ListaObjetosController">
        <property name="usuarioService" ref="usuarioService"/>
        <property name="propostaService" ref="propostaService"/>
        <property name="methodNameResolver">
            <bean class="org.springframework.web.servlet.mvc.multiaction.ParameterMethodNameResolver">
                <property name="paramName" value="method"/>
            </bean>
        </property>
    </bean>

    <bean name="cadastroPropostaController" class="br.com.gerpro.controller.CadastroPropostaController">
        <property name="propostaService" ref="propostaService"/>
        <property name="usuarioService" ref="usuarioService"/>
        <property name="formView">
            <value>cadastroProposta</value>
        </property>
        <property name="successView">
            <value>salvo</value>
        </property>
    </bean>


    <bean name="editarPropostaController" class="br.com.gerpro.controller.EditarPropostaController">
        <property name="propostaService" ref="propostaService"/>
    </bean>

    <bean name="salvarPropostaController" class="br.com.gerpro.controller.SalvarPropostaController">
        <property name="propostaService" ref="propostaService"/>
    </bean>

    <bean name="cadastroPropostaFormMultiController"
        class="br.com.gerpro.controller.CadastroPropostaFormMultiController">
        <property name="propostaService" ref="propostaService"/>
        <property name="methodNameResolver">
            <bean class="org.springframework.web.servlet.mvc.multiaction.ParameterMethodNameResolver">
                <property name="paramName" value="method"/>
                <property name="defaultMethodName" value="display"/>
            </bean>
        </property>
    </bean>

    <!--  ALUNO  -->

    <bean name="missaoProdutoController" class="br.com.gerpro.controller.MissaoProdutoController">
        <property name="propostaService" ref="propostaService"/>

    </bean>

    <bean name="justificativaController" class="br.com.gerpro.controller.JustificativaController">
        <property name="propostaService" ref="propostaService"/>
    </bean>

    <bean name="metodologiaController" class="br.com.gerpro.controller.MetodologiaController">
        <property name="propostaService" ref="propostaService"/>
    </bean>

    <bean name="submeterPropostaController" class="br.com.gerpro.controller.SubmeterPropostaController">
        <property name="propostaService" ref="propostaService"/>
    </bean>


    <bean name="applicationSecurityManager" class="br.com.gerpro.util.ApplicationSecurityManager">
    </bean>    

    <bean id="viewResolver"
      class="org.springframework.web.servlet.view.UrlBasedViewResolver">
        <property name="viewClass">
            <value>org.springframework.web.servlet.view.tiles2.TilesView</value>
        </property>
    </bean>

   <bean id="messageSource" class=
      "org.springframework.context.support.ResourceBundleMessageSource">
    <property name="basenames">
      <list>
        <value>messages</value>
        <value>errors</value>
      </list>
    </property>
  </bean>
    
    
    
    <!-- Service Layer -->
    <bean id="usuarioService" class="br.com.gerpro.service.impl.UsuarioServiceImpl">
        <property name="usuarioDao" ref="usuarioDao"/>
        <property name="tipoUsuarioDao" ref="tipoUsuarioDao"/>
        <property name="transactionTemplate" ref="transactionTemplate"/>
    </bean>

    <bean id="propostaService" class="br.com.gerpro.service.impl.PropostaServiceImpl">
        <property name="usuarioService" ref="usuarioService"/>
        <property name="equipeService" ref="equipeService"/>
        <property name="propostaDao" ref="propostaDao"/>
        <property name="statusDao" ref="statusDao"/>
        <property name="propostaItemDao" ref="propostaItemDao"/>
        <property name="transactionTemplate" ref="transactionTemplate"/>

    </bean>

    <bean id="equipeService" class="br.com.gerpro.service.impl.EquipeServiceImpl">
        <property name="equipeDao" ref="equipeDao"/>
        <property name="usuarioService" ref="usuarioService"/>
    </bean>


    <!-- Persistence Layer -->
    <bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName">
            <value>com.mysql.jdbc.Driver</value>
        </property>
        <property name="url">
            <value>jdbc:mysql://localhost:3306/gerprodb</value>
        </property>
        <property name="username">
            <value>root</value>
        </property>
        <property name="password">
            <value>123</value>
        </property>
    </bean>

    <bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="dataSource">
            <ref bean="dataSource"></ref>
        </property>
        <property name="mappingDirectoryLocations">
            <list>
                <value>classpath:/br/com/gerpro/model</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="connection.pool_size">1</prop>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="show_sql">true</prop>
                <prop key="hibernate.generate_statistics">true</prop>
                <prop key="cache.provider_class">org.hibernate.cache.NoCacheProvider</prop>
                <prop key="hibernate.cglib.use_reflection_optimizer">false</prop>
            </props>
        </property>
    </bean>

    <bean id="transactionTemplate"
        class="org.springframework.transaction.support.TransactionTemplate">
        <property name="transactionManager">
            <ref bean="transactionManager"/>
        </property>
    </bean>

    <bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">       
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>
        </property>
    </bean>

    
    <!-- Classes Dao -->

    <!-- O proxy significa que essas interfaces possue x implementacoes e que alem de x possue y implementacoes -->

    <bean id="equipeDao" parent="abstractDao">
        <property name="proxyInterfaces">
            <value>br.com.gerpro.dao.EquipeDao</value>
        </property>
        <property name="target">
            <bean parent="abstractDaoTarget">
                <constructor-arg>
                    <value>br.com.gerpro.model.Equipe</value>
                </constructor-arg>
            </bean>
        </property>
    </bean>

 <!-- O proxy significa que essas interfaces possue x implementacoes e que alem de x possue y implementacoes -->

    <bean id="propostaDao" parent="abstractDao">
        <property name="proxyInterfaces">
            <value>br.com.gerpro.dao.PropostaDao</value>
        </property>
        <property name="target">
            <bean parent="abstractDaoTarget">
                <constructor-arg>
                    <value>br.com.gerpro.model.Proposta</value>
                </constructor-arg>
            </bean>
        </property>
    </bean>

    <bean id="usuarioDao" parent="abstractDao">
        <property name="proxyInterfaces">
            <value>br.com.gerpro.dao.UsuarioDao</value>
        </property>
        <property name="target">
            <bean parent="abstractDaoTarget">
                <constructor-arg>
                    <value>br.com.gerpro.model.Usuario</value>
                </constructor-arg>
            </bean>
        </property>
    </bean>

    <bean id="tipoUsuarioDao" parent="abstractDao">
        <property name="proxyInterfaces">
            <value>br.com.gerpro.dao.TipoUsuarioDao</value>
        </property>
        <property name="target">
            <bean parent="abstractDaoTarget">
                <constructor-arg>
                    <value>br.com.gerpro.model.TipoUsuario</value>
                </constructor-arg>
            </bean>
        </property>
    </bean>

    <bean id="correcaoDao" parent="abstractDao">
        <property name="proxyInterfaces">
            <value>br.com.gerpro.dao.CorrecaoDao</value>
        </property>
        <property name="target">
            <bean parent="abstractDaoTarget">
                <constructor-arg>
                    <value>br.com.gerpro.model.Correcao</value>
                </constructor-arg>
            </bean>
        </property>
    </bean>

    <bean id="cronogramaDao" parent="abstractDao">
        <property name="proxyInterfaces">
            <value>br.com.gerpro.dao.CronogramaDao</value>
        </property>
        <property name="target">
            <bean parent="abstractDaoTarget">
                <constructor-arg>
                    <value>br.com.gerpro.model.Cronograma</value>
                </constructor-arg>
            </bean>
        </property>
    </bean>

    <bean id="itemDao" parent="abstractDao">
        <property name="proxyInterfaces">
            <value>br.com.gerpro.dao.ItemDao</value>
        </property>
        <property name="target">
            <bean parent="abstractDaoTarget">
                <constructor-arg>
                    <value>br.com.gerpro.model.Item</value>
                </constructor-arg>
            </bean>
        </property>
    </bean>

   <bean id="listaFuncaoDao" parent="abstractDao">
        <property name="proxyInterfaces">
            <value>br.com.gerpro.dao.ListaFuncaoDao</value>
        </property>
        <property name="target">
            <bean parent="abstractDaoTarget">
                <constructor-arg>
                    <value>br.com.gerpro.model.ListaFuncao</value>
                </constructor-arg>
            </bean>
        </property>
    </bean>

    <bean id="perguntaDao" parent="abstractDao">
        <property name="proxyInterfaces">
            <value>br.com.gerpro.dao.PerguntaDao</value>
        </property>
        <property name="target">
            <bean parent="abstractDaoTarget">
                <constructor-arg>
                    <value>br.com.gerpro.model.Pergunta</value>
                </constructor-arg>
            </bean>
        </property>
    </bean>
    

    <bean id="respostaDao" parent="abstractDao">
        <property name="proxyInterfaces">
            <value>br.com.gerpro.dao.RespostaDao</value>
        </property>
        <property name="target">
            <bean parent="abstractDaoTarget">
                <constructor-arg>
                    <value>br.com.gerpro.model.Resposta</value>
                </constructor-arg>
            </bean>
        </property>
    </bean>

    <bean id="propostaItemDao" parent="abstractDao">
        <property name="proxyInterfaces">
            <value>br.com.gerpro.dao.PropostaItemDao</value>
        </property>
        <property name="target">
            <bean parent="abstractDaoTarget">
                <constructor-arg>
                    <value>br.com.gerpro.model.PropostaItem</value>
                </constructor-arg>
            </bean>
        </property>
    </bean>

    <bean id="statusDao" parent="abstractDao">
        <property name="proxyInterfaces">
            <value>br.com.gerpro.dao.StatusDao</value>
        </property>
        <property name="target">
            <bean parent="abstractDaoTarget">
                <constructor-arg>
                    <value>br.com.gerpro.model.Status</value>
                </constructor-arg>
            </bean>
        </property>
    </bean>
    
    <bean id="finderIntroductionAdvisor"
        class="br.com.gerpro.finder.FinderIntroductionAdvisor"/>

    <bean id="abstractDaoTarget"
        class="br.com.gerpro.dao.impl.HibernateGenericDao" abstract="true">
        <property name="sessionFactory">
            <ref bean="sessionFactory"/>
        </property>
    </bean>

    <bean id="abstractDao"
        class="org.springframework.aop.framework.ProxyFactoryBean" abstract="true">
        <property name="interceptorNames">
            <list>
                <value>finderIntroductionAdvisor</value>
            </list>
        </property>
    </bean>

    <bean id="namingStrategy"
          class="org.springframework.beans.factory.config.FieldRetrievingFactoryBean">
        <property name="staticField">
            <value>org.hibernate.cfg.ImprovedNamingStrategy.INSTANCE</value>
        </property>
    </bean>

    <bean id="extendedFinderNamingStrategy"
        class="br.com.gerpro.finder.impl.ExtendedFinderNamingStrategy" />
</beans>
