<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">123</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/gerprodb</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        
        <mapping resource="Cronograma.hbm.xml" />
        <mapping resource="Equipe.hbm.xml" />
        <mapping resource="Periodo.hbm.xml" />
        <mapping resource="Correcao.hbm.xml" />
        <mapping resource="Pergunta.hbm.xml" />
        <mapping resource="Proposta.hbm.xml" />
        <mapping resource="Usuario.hbm.xml" />
        <mapping resource="Status.hbm.xml" />
        <mapping resource="ListaFuncao.hbm.xml" />
        <mapping resource="PropostaItem.hbm.xml" />
        <mapping resource="Resposta.hbm.xml" />
        <mapping resource="TipoFuncao.hbm.xml" />
        <mapping resource="Item.hbm.xml" />
        <mapping resource="TipoUsuario.hbm.xml" />
    </session-factory>
</hibernate-configuration>
